# Data Wrangling 

Consiste en el tratamiento y preparación de los datos que se hace con el objetivo de que sean más apropiados o manejables para la tarea que los queremos usar. Es transformar el dataset "raw" en otro mejor preparado, más fácil de utilizar o más suitable para el modelo que queremos entrenar

In [2]:
import pandas as pd
from pandas import read_csv

In [6]:
data = read_csv('datasets/customer-churn-model/Customer Churn Model.txt')
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

## Extraer un subconjunto del dataset original

Hay veces que no nos interesa trabajar con todas las columnas, por lo que lo óptimo es trabajar sólo con las que vayamos a usar

In [10]:
desired_cols = ['Account Length', 'Phone', 'Eve Charge', 'Day Calls'] 
subset = data[desired_cols]
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113