In [18]:
%config Completer.use_jedi = False

In [19]:
from pandas import read_csv

In [20]:
data_path = './datasets/athletes/Athelete_Country_Map.csv'
data = read_csv(data_path)
data.head()

            Athlete        Country
0    Michael Phelps  United States
1  Natalie Coughlin  United States
2     Aleksey Nemov         Russia
3     Alicia Coutts      Australia
4    Missy Franklin  United States

In [ ]:
from matplotli